DATABASE_URL=
JWT_SECRET=
JWT_REFRESH_SECRET=
# JWT_REFRESH_SECRET=
JWT_EXPIRES_IN=
JWT_REFRESH_EXPIRES_IN=
PORT=
NODE_ENV=
FRONTEND_URL=
ENCRYPTION_KEY=

# ── ETL Billing External API ──────────────────────────────────────────────────
BILLING_API_URL=
BILLING_LOGIN_URL=
BILLING_USERNAME=
BILLING_PASSWORD=
ETL_RAW_DIR=
